{% extends "year/page.html" %}
{% block page_content %}
{% load static %}

<!-- Volunteer areas -->

<!-- Åben for tilmelding -->

<div class="contaniner mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center">Åben for tilmelding</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for area in areas %}
      {% if area.volunteerCount < area.volunteerMax %}
      <div class="col-md-3 mt-3">
        <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
          <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#{{ area.name }}">
	  <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{{ STATIC_DEV|add:"img/" }}{{ area.bg }}'); height:30vh; overflow: hidden; box-shadow: inset 0 0 0 2000px rgba(0, 128, 0, 0.3;">
              <div class="card-body text-dark">
                <h5 class="card-title">{{ area.name }}</h5>
                <p class="card-text">{{ area.short_description }}</p>
              </div>
            </div>
          </a>
        </div>
      </div> 
      {% endif %}
    {% endfor %}

<!-- Lukket for tilmelding -->

{# if any(area_volunteerCount >= area_volunteerMax) #}

<div class="contaniner mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center">Lukket for tilmelding</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for area in areas %}
      {% if area.volunteerCount >= area.volunteerMax and area.volunteerMax != 0 %}
        <div class="col-md-3 mt-3">
          <div class="border border-2 rounded-3">
            <a  style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#{{ area.name }}">
	    <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{{ STATIC_DEV|add:"img/" }}{{ area.bg }}'); height:30vh; overflow: hidden;">
                <div class="card-body text-dark">
                  <h5 class="card-title">{{ area.name }}</h5>
                  <p class="card-text">{{ area.short_description }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Endnu ikke åbent for tilmelding -->

{# if any(area_volunteerMax) == 0 #}

<div class="contaniner mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center">Endnu ikke åbent for tilmelding</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for area in areas %}
      {% if area.volunteerMax == 0 %}
      <div class="col-md-3 mt-3">
        <div class="border border-white border-2 rounded-3">
          <a  style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#{{ area.name }}">
	  <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{{ STATIC_DEV|add:"img/" }}{{ area.bg }}'); height:30vh; overflow: hidden;">
              <div class="card-body text-dark">
                <h5 class="card-title">{{ area.name }}</h5>
                <p class="card-text">{{ area.short_description }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Pop-up for frivilligområde -->
{% for area in areas %}
<div class="modal fade" id="{{ area.name }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" style="min-width:50vw;">
  <div class="modal-content" style="background-size:cover; background-image:url('{{ STATIC_DEV|add:"img/" }}{{ area.bg }}');">
      <div class="modal-header">
        <h1 class="modal-title bello" id="exampleModalLabel">{{ area.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ area.long_description }}</p>
      </div>
      <div class="modal-footer">
        <div class="col-md-3 mx-auto">
          {% if area.volunteerCount >= area.volunteerMax %}
            <div class="border border-2 rounded-3 fill-color-bg">
               <p class="text-center bello h3 mt-2">
                 Lukket for<br/> tilmelding
               </p>
            </div>
          {% else %}
            <div class="border border-white border-2 rounded-3 fill-color-bg">
              <a href="{% url 'accounts:login' %}" class="fill-div">
                 <p class="text-center bello h3 mt-2">
                   Tilmeld<br/> dig
                 </p>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock page_content %}
