{% extends "year/page.html" %}
{% block page_content %}
<div class="d-flex justify-content-center">
  <a class="btn btn-primary" href="{% url 'accounts:login' %}">
    <h2>Ansøg her</h2>
  </a>
</div>
{% endblock page_content %}
