{% extends "year/page.html" %}
{% block page_content %}

<div class="row">
  <div class="dropdown bello text-center">
  <button class="btn opacity-25 dropdown-toggle" style="font-size:2rem;" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b style="font-size:3rem">{{ year }}</b> 
    </button>
    <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;">
      {% for year_obj in every_year %}
       <li class="dropdowm-item ">
          <a class="dropdown-item d-block" href="{% url 'year:events' year=year_obj.year %}">{{ year_obj.year }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <hr>
    {% if years_with_events %}
      {% for year in years_with_events %}
      {% if year.programs.all %}
          {% for event, program in year.events.items %}
            <div class="col-md-4 mt-3">
              <div class="border border-white border-2 rounded-3">
              <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#eventModal{{ event.pk }}">
                  <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                    <div class="card-body text-dark">
                      <p class="card-title text-center">{{ event.name }}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p class="mt-3">Der er ingen events for {{ year.year }}</p>
        {% endif %}
      {% endfor %}
    {% else %}
      <p class="mt-3">Der er ingen events for {{ year.year }}</p>
    {% endif %}
  </div>
</div>

<!-- Pop-up for artist -->
{% for year in years_with_events %}
  {% for event, program in year.events.items %}
    <div class="modal fade" id="eventModal{{ event.pk }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" style="min-width: 50vw;">
        <div class="modal-content" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}');">
          <div class="modal-header">
            <h1 class="modal-title bello">{{ event.name }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"style="min-height:75vh;"> 
            <p>{{ event.long_description }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endfor %}
{% endblock page_content %}
