{% extends "year/page.html" %}
{% block page_content %}

<div class="row">
  <div class="dropdown bello text-center">
    <button class="btn opacity-25 dropdown-toggle" style="font-size:2rem;" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b style="font-size:3rem">{{ year }}</b> 
    </button>
    <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;">
      {% for year_obj in every_year %}
       <li class="dropdowm-item ">
          <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% if years_with_programs %}
  {% for year in years_with_programs %}
    {% if year.programs.all %}
      {% for date, programs in year.grouped_programs.items %}
        <hr>
        <div class="row">
          <div class="col-3 d-none d-lg-block">
            <h2 class="bello" style="text-align:center">{{ date }}</h2>
          </div>
          <div class="col-3 d-none d-lg-block">
            <h3 class="bello" style="text-align:center">Den Ene Scene</h3>
          </div>
          <div class="col-3 d-none d-lg-block">
            <h3 class="bello" style="text-align:center">Den Anden Scene</h3>
          </div>
          <div class="col-3 d-none d-lg-block">
            <h3 class="bello" style="text-align:center">Krea</h3>
          </div>
        </div>
        {% for program in programs %}
          <div class="row d-flex">
            <div class="col-md-8 col-sm-12 col-lg-3 ">
              <h5>{{ program.start_time|time:"h:i A" }}</h5>
            </div>
            {% if program.stage.name == 'Den ene scene' %}
              {% if program.artist_id %}
                <div class="col-md-8 col-sm-12 col-lg-3">
                  <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                    <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                      <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                        <div class="card-body text-dark">
                          <h5 class="card-title">{{ program.artist_id }}</h5>
                          <p class="card-text">{{ program.artist_short_description }}</p>
                        </div>
                        <div class="border d-lg-none">
                          <h6 class="text-center">{{ program.stage }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% elif program.event_id %}
                <div class="col-md-8 col-sm-12 col-lg-3">
                  <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                    <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                      <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                        <div class="card-body text-dark">
                          <h5 class="card-title">{{ program.event_id }}</h5>
                          <p class="card-text">{{ program.event_short_description }}</p>
                        </div>
                        <div class="border d-lg-none">
                          <h6 class="text-center">{{ program.stage }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% endif %}
              <div class="col-md-0 col-sm-0 col-lg-3"></div>
              <div class="col-md-0 col-sm-0 col-lg-3"></div>
            {% elif program.stage.name == "Den anden scene" %}
              <div class="col-md-0 col-sm-0 col-lg-3"></div>
              {% if program.artist_id %}
                <div class="col-md-8 col-sm-12 col-lg-3">
                  <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                    <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                      <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                        <div class="card-body text-dark">
                          <h5 class="card-title">{{ program.artist_id }}</h5>
                          <p class="card-text">{{ program.artist_short_description }}</p>
                        </div>
                        <div class="border d-lg-none">
                          <h6 class="text-center">{{ program.stage }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% elif program.event_id %}
                <div class="col-md-8 col-sm-12 col-lg-3">
                  <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                    <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                      <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                        <div class="card-body text-dark">
                          <h5 class="card-title">{{ program.event_id }}</h5>
                          <p class="card-text">{{ program.event_short_description }}</p>
                        </div>
                        <div class="border d-lg-none">
                          <h6 class="text-center">{{ program.stage }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% endif %}
              <div class="col-md-0 col-sm-0 col-lg-3"></div>
            {% elif program.stage.name == "Krea" %}
              <div class="col-md-0 col-sm-0 col-lg-3"></div>
              <div class="col-md-0 col-sm-0 col-lg-3"></div>
              {% if program.artist_id %}
                <div class="col-md-8 col-sm-12 col-lg-3">
                  <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                    <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                      <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                        <div class="card-body text-dark">
                          <h5 class="card-title">{{ program.artist_id }}</h5>
                          <p class="card-text">{{ program.artist_short_description }}</p>
                        </div>
                        <div class="border d-lg-none">
                          <h6 class="text-center">{{ program.stage }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% elif program.event_id %}
                <div class="col-md-8 col-sm-12 col-lg-3">
                  <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                    <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                      <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                        <div class="card-body text-dark">
                          <h5 class="card-title">{{ program.event_id }}</h5>
                          <p class="card-text">{{ program.event_short_description }}</p>
                        </div>
                        <div class="border d-lg-none">
                          <h6 class="text-center">{{ program.stage }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% endif %}
            {% elif program.stage.name == "Nat DJ" %}
              <div class="col-md-0 col-sm-0 col-lg-3"></div>
              <div class="col-md-8 col-sm-12 col-lg-3">
                <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                  <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                    <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                      <div class="card-body text-dark">
                        <h5 class="card-title">{{ program.artist_id }}</h5>
                        <p class="card-text">{{ program.artist_short_description }}</p>
                      </div>
                      <div class="border d-lg-none">
                        <h6 class="text-center">{{ program.stage }}</h6>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-0 col-sm-0 col-lg-3"></div>
            {% endif %}
          </div>
          <!-- Pop-ups for artister og events -->
          {% if program.event_id %}
            <div class="modal fade" id="programModal{{ program.pk }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
              <div class="modal-dialog" style="min-width:50vw;">
              <div class="modal-content" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}');">
                  <div class="modal-header">
                    <h1 class="modal-title bello" id="exampleModalLabel">{{ program.event_id }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="min-height:75vh;">
                    <p>{{ program.event_long_description }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% elif program.artist_id %}
            <div class="modal fade" id="programModal{{ program.pk }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
              <div class="modal-dialog" style="min-width:50vw;">
                <div class="modal-content" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}');">
                  <div class="modal-header">
                    <h1 class="modal-title bello" id="exampleModalLabel">{{ program.artist_id }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="min-height:75vh;">
                    <p>{{ program.artist_long_description }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% else %}
        <p>Der er intet program for {{ year.year }}</p>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock page_content %}
