{% extends "year/layout.html" %}
{% block content %}

{% load static %}
<video id="video_background" preload="auto" autoplay="true" loop muted>
  <source src="{{ STATIC_DEV|add:"video/nakke_covervid.mp4" }}" type="video/mp4">
  <source src="{{ STATIC_DEV|add:"video/nakke_covervid.webm" }}" type="video/webm">
  This browser does not support video
</video>

<div id="video_pattern" ></div>

<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh; max-width: 100vw; overflow-x: hidden;">
  <div class="align-items-center justify-content-center mx-auto">
    <div class="container">
      <a class='' href='#'>
	      <img id='' class='img-fluid' src='{{ STATIC_DEV|add:"img/nakke_banner_2021.png" }}' alt='' style='display: block; margin-left: auto; margin-right: auto;'>
      </a>

      <br/>

      <div class="row">
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg">
	    <a href="https://www.place2book.com/da/sw2/sales/9ztmmmpflv" class="fill-div" target="_blank" rel="noopener noreferrer">
              <p class="text-center bello h3 mt-2">
                Køb<br/> Billet
              </p>
	    </a>
          </div>
        </div>
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg">
	    <a href="{% url 'year:program' year=cur_year.year %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Musik<br/> Program
              </p>
	    </a>
          </div>
        </div>
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg">
	    <a href="{% url 'year:events' year=cur_year.year %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Krea<br/> Program
              </p>
	    </a>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg">
	    <a href="{% url 'year:fællesbus_til_nakke' %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Fælles<br/> Bus
              </p>
	    </a>
          </div>
        </div>
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg">
	    <a href="{% url 'year:bliv_frivillig' %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Bliv<br/> Frivillig
              </p>
	    </a>
          </div>
        </div>
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg">
	    <a href="{% url 'year:praktisk_information' %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Praktisk<br/> Information
              </p>
	    </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-image" style="background-image: url('{{ STATIC_DEV|add:"img/bg/home.jpg" }}'); overflow-x:hidden; min-height: 100vh; min-width:100%; background-size: cover; background-repeat: no-repeat; display:flex; flex-direction:column">
  <br/>
  <br/>
  <br/>
  <div class="d-flex align-items-flex-start justify-content-center mt-xxl-5 pt-xx-5">
    <div class="align-items-flex-start justify-content-center mx-auto mt-xxl-5 pt-xx-5" style="max-width: 720px;">
      <div class="container mt-xxl-5 pt-xx-5">
        <p class="h4" style="text-align: left;">
          KOM OG FÅ DET BEDSTE UD AF SOMMEREN, NÅR VI DRØMMER OS VÆK I
          DEN FANTASTISKE NAKKEFESTIVAL'S STEMNING, SOM DU IKKE FINDER
          ANDRE STEDER! PROGRAMMET VIL VÆRE SPÆKFYLDT MED LÆKKERIER
          OG VI KAN IKKE VENTE MED AT DANSE OG FESTE TIL DEN LYSE MORGEN
          MED DIG OG DINE VENNER.
          <br/>
          <br/>
          SÅ TAG DIT TELT OG DINE VENNER UNDER ARMEN, OG OPLEV DANMARKS
          HYGGELIGSTE FESTIVAL.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mx-auto" style="margin-top:auto; margin-bottom: 0px !important;">
  <img src="{{ STATIC_DEV|add:"img/svg/footer_graphic.svg" }}" alt="Edgy graphics"><img>
  </div>
</div>
{% endblock content %}
