<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"bootstrap5/css/bootstrap.min.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"fonts/fontawesome/css/all.min.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"css/main.css" }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="{{ STATIC_DEV|add:"favicon.ico" }}">

    {% if title %}
      <title>Nakkefestival - {{ title }}</title>
    {% else %}
      <title>Nakkefestival</title>
    {% endif %}
</head>
<body style="min-height:100vh; display:flex; flex-direction:column">
  <nav class="navbar navbar-expand-sm navbar-light bg-light py-0 fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand bello" href="{% url 'year:index' %}">Nakkefestival</a>
      <a class="navbar-brand" href="https://www.instagram.com/nakkefestival/"><i class="fa-brands fa-instagram"></i></a>
      <a class="navbar-brand" href="https://www.facebook.com/OfficielNakkefestival/"><i class="fa-brands fa-facebook"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle h4 bello mb-0" href="#" id="musikDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Musik og Events
            </a>
            <ul class="dropdown-menu" aria-labelledby="musikDropdown">
              <li><a class="dropdown-item" href="{% url 'year:kunstnere' year=cur_year.year %}">Kunstnere {{ cur_year.year }}</a></li>
              <li><a class="dropdown-item" href="{% url 'year:program' year=cur_year.year %}">Program {{ cur_year.year }}</a></li>
              <!-- <li><a class="dropdown-item" href=" url 'year:program' year=cur_year.year >Program </a></li> -->
              <li><a class="dropdown-item" href="{% url 'year:events' year=cur_year.year %}">Events {{ cur_year.year }}</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle h4 bello mb-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'year:praktisk_information' %}">Praktisk Information</a></li>
              <li><a class="dropdown-item" href="{% url 'year:bliv_frivillig' %}">Bliv Frivillig</a></li>
              <li><a class="dropdown-item" href="{% url 'year:bliv_kunstner' %}">Bliv Kunstner</a></li>
              <li><a class="dropdown-item" href="{% url 'year:fællesbus_til_nakke' %}">Fællesbus til Nakke</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle h4 bello mb-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Om Nakkefestival
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'year:om_nakkefestival' %}">Om Nakkefestival</a></li>
              <li><a class="dropdown-item" href="{% url 'year:historien' %}">Historien</a></li>
              <li><a class="dropdown-item" href="{% url 'year:find_vej' %}">Find vej</a></li>
              <li><a class="dropdown-item" href="{% url 'year:billeder' %}">Billeder</a></li>
              <li><a class="dropdown-item" href="{% url 'year:donationer' %}">Donationer</a></li>
              <li><a class="dropdown-item" href="{% url 'year:vedtagter' %}">Vedtægter</a></li>
              <li><a class="dropdown-item" href="{% url 'year:presse' %}">Presse</a></li>
              <li><a class="dropdown-item" href="{% url 'year:kontakt' %}">Kontakt</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {% block content %}{% endblock %}
    <!-- JavaScript -->
    <script src="{{ STATIC_DEV|add:"bootstrap5/js/bootstrap.bundle.min.js" }}"></script>
</body>
</html>

