{% extends "year/layout.html" %}
{% block content %}
{% load static %}
{% load markdown_extras %}
{% if request.path|slice:"0:4" == "/hzd" %}
    {% include "hzd/layout.html" %}
{% endif %}
<div class="full-bg-img" style="background: url('{{ STATIC_DEV|add:"img/bg/" }}{{ bg }}') no-repeat center center fixed;"></div>

<div class="container">
	<div class="row mt-5 mb-3 pt-5">
		<div class="mx-auto">
			<h1 class="bello" style="text-align:center">{{ title }}</h1>
		</div>
	</div>
  {% if short_description %}
    <div class="row mb-3 d-flex justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <h5 class="text-center">{{ short_description | markdown }}</h5>
      </div>
    </div>
    {% endif %}
  {% if long_description %}
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-8">
        {{ long_description | markdown }}
      </div>
    </div>
  {% endif %}
	<div class="row d-flex justify-content-center">
		<div class="col-sm-12 col-md-12 col-lg-8">
      {% block page_content %}
      {% endblock %}
		</div>
	</div>
</div>
<div class="col-md-6 mx-auto" style="margin-top:auto; margin-bottom: 0px !important;">
<img src="{{ STATIC_DEV|add:"img/svg/footer_graphic.svg" }}" alt="Edgy graphics"><img>
</div>
{% endblock content %}
