{% extends "year/page.html" %}
{% block page_content %}

<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
{% if volunteer_applications %}
<div class="table-responsive table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=user_name"><b>Frivillig</b></a></th>
      <th><a class="btn btn-primary" href="?sort=area">Område</a></th>
      <th><a class="btn btn-primary" href="?sort=year">År</a></th>
      <th><a class="btn btn-primary" href="?sort=time">Tidspunkt</a></th>
      <th><a class="btn btn-primary" href="?sort=comment">Kommentar</a></th>
      <th><a class="btn btn-primary" href="?sort=status">Status</a></th>
      <th></th>
    </thead>
    {% for application in volunteer_applications %}
      <tbody>
        <td><b>Tilføj navnet!</b></td>
        <td>{{ application.area }}</td>
        <td>{{ application.year }}</td>
        <td>{{ application.time }}</td>
        <td>{{ application.comment }}</td>
        <td>{{ application.status }}</td>
        <td>
        <a href="{% url 'hzd:frivillig' pk=application.pk %}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
