{% extends "year/page.html" %}
{% block page_content %}

<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
{% if donations %}
<div class="table-responsive table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=year">År</a></th>
      <th><a class="btn btn-primary" href="?sort=receiver"><b>Modtager</b></a></th>
      <th><a class="btn btn-primary" href="?sort=phone">Telefon</a></th>
      <th><a class="btn btn-primary" href="?sort=mail">Email</a></th>
      <th><a class="btn btn-primary" href="?sort=amount">Beløb</a></th>
      <th><a class="btn btn-primary" href="?sort=published">Udgivet</a></th>
      <th></th>
    </thead>
    {% for donation in donations %}
      <tbody>
        <td>{{ donation.year }}</td>
        <td><b>{{ donation.receiver }}</b></td>
        <td>{{ donation.phone }}</td>
        <td>{{ donation.mail }}</td>
        <td>{{ donation.amount }}</td>
        <td>{{ donation.published }}</td>
        <td>
        <a href="{% url 'hzd:donation' pk=donation.pk %}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
  <p> Der er ingen donationer at vise <p>
{% endif %}
{% endblock page_content %}
