{% extends "year/page.html" %}
{% block page_content %}
<div class="row">
  <div class="col-3 mt-1 pt-1">
    <div class="border border-white border-2 rounded-3 fill-color-bg">
      <a href="{% url 'hzd:sider' %}" class="fill-div">
        <p class="text-center bello h3 mt-2">
          Sider
        </p>
      </a>
    </div>
  </div>
  <div class="col-3 mt-1 pt-1">
    <div class="border border-white border-2 rounded-3 fill-color-bg">
      <a href="{% url 'hzd:bookings' %}" class="fill-div">
        <p class="text-center bello h3 mt-2">
          Bands
        </p>
      </a>
    </div>
  </div>
  <div class="col-3 mt-1 pt-1">
    <div class="border border-white border-2 rounded-3 fill-color-bg">
      <a href="{% url 'hzd:frivillige' %}" class="fill-div">
        <p class="text-center bello h3 mt-2">
          Frivillige
        </p>
      </a>
    </div>
  </div>
  <div class="col-3 mt-1 pt-1">
    <div class="border border-white border-2 rounded-3 fill-color-bg">
      <a href="{% url 'year:program' year=cur_year %}" class="fill-div">
        <p class="text-center bello h3 mt-2">
          Wiki
        </p>
      </a>
    </div>
  </div>
  <div class="col-3 mt-1 pt-1">
    <div class="border border-white border-2 rounded-3 fill-color-bg">
      <a href="{% url 'year:events' year=cur_year %}" class="fill-div">
        <p class="text-center bello h3 mt-2">
          Cloud
        </p>
      </a>
    </div>
  </div>
  <div class="col-3 mt-1 pt-1">
    <div class="border border-white border-2 rounded-3 fill-color-bg">
      <a href="{% url 'year:fællesbus_til_nakke' %}" class="fill-div">
        <p class="text-center bello h3 mt-2">
          Biletter
        </p>
      </a>
    </div>
  </div>
  <div class="col-3 mt-1 pt-1">
    <div class="border border-white border-2 rounded-3 fill-color-bg">
      <a href="{% url 'year:fællesbus_til_nakke' %}" class="fill-div">
        <p class="text-center bello h3 mt-2">
          Chat
        </p>
      </a>
    </div>
  </div>
  <div class="col-3 mt-1 pt-1">
    <div class="border border-white border-2 rounded-3 fill-color-bg">
      <a href="{% url 'year:fællesbus_til_nakke' %}" class="fill-div">
        <p class="text-center bello h3 mt-2">
          Mail
        </p>
      </a>
    </div>
  </div>
</div>
{% endblock page_content %}
