<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"bootstrap5/css/bootstrap.min.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"fonts/fontawesome/css/all.min.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"css/main.css" }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="{{ STATIC_DEV|add:"favicon.ico" }}">

    {% if title %}
      <title>Nakkefestival - {{ title }}</title>
    {% else %}
      <title>Nakkefestival</title>
    {% endif %}
</head>
<body style="min-height:100vh; display:flex; flex-direction:column">
  <nav class="navbar navbar-expand-sm navbar-light bg-light py-0 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand bello" href="{% url 'hzd:index' %}"><h1><b>HZD</b></h1></a>
      <a class="navbar-brand" href="https://www.instagram.com/nakkefestival/"><i class="fa-brands fa-instagram"></i></a>
      <a class="navbar-brand" href="https://www.facebook.com/OfficielNakkefestival/"><i class="fa-brands fa-facebook"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link h4 bello mb-0" href="{% url 'hzd:programs' %}">Program</a>
          </li>
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link h4 bello mb-0" href="{% url 'hzd:events' %}">Events</a>
          </li>
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link h4 bello mb-0" href="{% url 'hzd:donations' %}">Donationer</a>
          </li>
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link h4 bello mb-0" href="{% url 'hzd:artists' %}">Kunstnere</a>
          </li>
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link h4 bello mb-0" href="{% url 'hzd:areas' %}">Områder</a>
          </li>
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link h4 bello mb-0" href="{% url 'hzd:bookings' %}">Bookings</a>
          </li>
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link h4 bello mb-0" href="{% url 'hzd:frivillige' %}">Frivillige</a>
          </li>
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link  h4 bello mb-0" href="{% url 'hzd:sider' %}">Sider</a>
          </li>
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link  h4 bello mb-0" href="{% url 'hzd:years' %}">År</a>
          </li>
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link  h4 bello mb-0" href="{% url 'year:index' %}"><i class="bi bi-house"></i></a>
          </li>
          <li class="nav-item dropdown" style="margin-right:2rem;">
            <a class="nav-link dropdown-toggle h4 bello mb-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <i class="fa-solid fa-circle-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Log ind</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Log af</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {% block content %}{% endblock %}
    <!-- JavaScript -->
    <!-- <script src="{{ STATIC_DEV|add:"bootstrap5/js/bootstrap.bundle.min.js" }}"></script> -->
</body>
</html>
