{% extends "year/page.html" %}
{% block page_content %}

<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
{% if program %}
<div class="table-responsive table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th>
          <a class="btn btn-primary" href="?sort=year&order={% if current_sort == 'year' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
              År
          </a>
      </th>
      <th>
          <a class="btn btn-primary" href="?sort=artist_id&order={% if current_sort == 'artist_id' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
            <b>Artist</b>
          </a>
      </th>
      <th>
          <a class="btn btn-primary" href="?sort=event_id&order={% if current_sort == 'event_id' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
            <b>Event</b>
          </a>
      </th>
      <th>
          <a class="btn btn-primary" href="?sort=start_time&order={% if current_sort == 'start_time' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
              Starttid
          </a>
      </th>
      <th>
          <a class="btn btn-primary" href="?sort=end_time&order={% if current_sort == 'end_time' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
              Sluttid
          </a>
      </th>
      <th>
          <a class="btn btn-primary" href="?sort=stage&order={% if current_sort == 'stage' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
              Scene
          </a>
      </th>
      <th>
          <a class="btn btn-primary" href="?sort=published&order={% if current_sort == 'published' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
              Udgivet
          </a>
      </th>
      <th></th>
    </thead>
    {% for p in program %}
      <tbody>
        <td>{{ p.year }}</td>
        <td>
        {% if p.artist_id == null %}
          {{ p.artist_id }}
        {% else %}
          <b>{{ p.artist_id }}</b>
        {% endif %}
        </td>
        <td>
        {% if p.event_id == null %}
          {{ p.event_id }}
        {% else %}
          <b>{{ p.event_id }}</b>
        {% endif %}
        </td>
        <td>{{ p.start_time }}</td>
        <td>{{ p.end_time }}</td>
        <td>{{ p.stage }}</td>
        <td>{{ p.published }}</td>
        <td>
        <a href="{% url 'hzd:program' pk=p.pk %}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
