{% extends "year/page.html" %}
{% block page_content %}

<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
{% if years %}
<div class="table-responsive table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=year&order={% if current_sort == 'year' and next_order == 'asc' %}asc{% else %}desc{% endif %}"><b>År</b></a></th>
      <th><a class="btn btn-primary" href="?sort=published&order={% if current_sort == 'published' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Udgivet</a></th>
      <th><a class="btn btn-primary" href="?sort=start_time&order={% if current_sort == 'start_time' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Festivalstart</a></th>
      <th><a class="btn btn-primary" href="?sort=end_time&order={% if current_sort == 'end_time' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Festivalslut</a></th>
      <th></th>
    </thead>
    {% for year in years %}
      <tbody>
        <td><b>{{ year.year }}</b></td>
        <td>{{ year.published }}</td>
        <td>{{ year.start_time }}</td>
        <td>{{ year.end_time }}</td>
        <td>
        <a href="{% url 'hzd:year' pk=year.pk %}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
