{% extends "year/page.html" %}
{% block page_content %}

<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
{% if events %}
<div class="table-responsive table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=name"><b>Navn</b></a></th>
      <th><a class="btn btn-primary" href="?sort=short_description">Manchet</a></th>
      <th><a class="btn btn-primary" href="?sort=long_description">Beskrivelse</a></th>
      <th><a class="btn btn-primary" href="?sort=img">Billede</a></th>
      <th><a class="btn btn-primary" href="?sort=state">Status</a></th>
      <th></th>
    </thead>
    {% for event in events %}
      <tbody>
        <td><b>{{ event.name }}</b></td>
        <td>{{ event.short_description }}</td>
        <td>{{ event.long_description }}</td>
        <td>{{ event.img }}</td>
        <td>{{ event.state }}</td>
        <td>
        <a href="{% url 'hzd:event' pk=event.pk %}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
