{% extends "year/layout.html" %}

{% block content %}
  <div class="container mt-5 pt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Log Ind</h2>
        <form method="POST">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
          <div class="form-group mb-3">
            <label for="username">Navn</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
          </div>
          <div class="form-group mb-3">
            <label for="password">Kodeord</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Log Ind</button>
          <a href="{% url 'accounts:signup' %}" class="btn btn-secondary">Opret dig</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
