{% extends "year/layout.html" %}

{% block content %}
  <div class="container mt-5 pt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Tilmelding</h2>
        <form method="POST" >
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
          <div class="form-group mb-3">
            <label for="area"></label>
            <select class="form-control" id="area" name="area" placeholder="Område">
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="username">Navn</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
          </div>
          <div class="form-group mb-3">
            <label for="email">Email addresse</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>
          <div class="form-group mb-3">
            <label for="phone">Telefon</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number">
          </div>
          <div class="form-group mb-3">
            <label for="password">Kodeord</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
          <div class="form-group mb-3">
            <label for="repeat_password">Kodeord Igen</label>
            <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Repeat Password">
          </div>

          <button type="submit" class="btn btn-primary">Opret bruger</button>
          <a href="{% url 'accounts:login' %}" class="btn btn-secondary">Log ind på eksisterende bruger</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
