{% extends "year/page.html" %}
{% block page_content %}
<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
{% if pages %}
<div class="table-responsive table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=title"><b>Title</b></a></th>
      <th><a class="btn btn-primary" href="?sort=url">URL</a></th>
      <th><a class="btn btn-primary" href="?sort=year">Year</a></th>
      <th><a class="btn btn-primary" href="?sort=bg_image">Image</a></th>
      <th><a class="btn btn-primary" href="?sort=published">Published</a></th>
      <th></th>
    </thead>
    {% for page in pages %}
      <tbody>
        <td><b>{{ page.title }}</b></td>
        <td>{{ page.url }}</td>
        <td>{{ page.year }}</td>
        <td>{{ page.bg_image }}</td>
        <td>{{ page.published }}</td>
        <td>
          <a href="{% url 'hzd:side' pk=page.pk %}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
