{% extends "year/page.html" %}

{% block page_content %}
<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
<!-- <form action="" method="post"> -->
<!--     {% csrf_token %} -->
<!--     <div class="mb-3"> -->
<!--         <label for="year" class="form-label">Year</label> -->
<!--         <input type="text" class="form-control" id="year" name="year" value="{{ page_edit.year }}" disabled=disabled> -->
<!--     </div> -->
<!--     <div class="mb-3"> -->
<!--         <label for="url" class="form-label">URL</label> -->
<!--         <input type="text" class="form-control" id="url" name="url" value="{{ page_edit.url }}" disabled=disabled> -->
<!--     </div> -->
<!--     <div class="mb-3"> -->
<!--         <label for="title" class="form-label">Title</label> -->
<!--         <input type="text" class="form-control" id="title" name="title" value="{{ page_edit.title }}"> -->
<!--     </div> -->
<!--     <div class="mb-3"> -->
<!--         <label for="bg_image" class="form-label">Image</label> -->
<!--         <input type="text" class="form-control" id="bg_image" name="bg_image" value="{{ page_edit.bg_image }}"> -->
<!--     </div> -->
<!--     <div class="mb-3"> -->
<!--         <label for="short_description" class="form-label">Manchet</label> -->
<!--         <textarea rows="" cols="" class="form-control" id="short_description" name="short_description">{{ page_edit.short_description }}</textarea>  -->
<!--     </div> -->
<!--     <div class="mb-3"> -->
<!--         <label for="long_description" class="form-label">Tekst</label> -->
<!--         <textarea rows="" cols="" class="form-control" id="long_description" name="long_description" style="min-height:150px;">{{ page_edit.long_description }}</textarea> -->
<!--     </div> -->
<!--     <div class="mb-3"> -->
<!--         <label for="published" class="form-label">Published</label> -->
<!--         <input type="checkbox" class="form-check-input" id="published" name="published" {% if page_edit.published %}checked{% endif %}> -->
<!--     </div> -->
<!--     <button type="submit" class="btn btn-primary">Submit</button> -->
<!-- </form> -->


<div styl="background-image: url('{{ bg.image_url }}');">
    <!-- Include the reusable form template -->
    {% include 'form_snippet.html' with form=form method='post' action='' button_label='Opdater' %}
</div>

{% endblock page_content %}
