{% extends "year/page.html" %}
{% block page_content %}

<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
{% if artists %}
<div class="table-responsive table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=name&order={% if current_sort == 'name' and next_order == 'asc' %}asc{% else %}desc{% endif %}"><b>Navn</b></a></th>
      <th><a class="btn btn-primary" href="?sort=short_description&order={% if current_sort == 'short_description' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Manchet</a></th>
      <th><a class="btn btn-primary" href="?sort=long_description&order={% if current_sort == 'long_description' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Beskrivelse</a></th>
      <th><a class="btn btn-primary" href="?sort=img&order={% if current_sort == 'img' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Billede</a></th>
      <th></th>
    </thead>
    {% for artist in artists %}
      <tbody>
        <td><b>{{ artist.name }}</b></td>
        <td>{{ artist.short_description }}</td>
        <td>{{ artist.long_description }}</td>
        <td>{{ artist.img }}</td>
        <td>
        <a href="{% url 'hzd:artist' pk=artist.pk %}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
