{% extends "year/page.html" %}
{% block page_content %}

<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
{% if volunteer_areas %}
<div class="table-responsive table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=name&order={% if current_sort == 'name' and next_order == 'desc' %}desc{% else %}asc{% endif %}"><b>Navn</b></a></th>
      <th><a class="btn btn-primary" href="?sort=mail&order={% if current_sort == 'mail' and next_order == 'asc' %}asc{% else %}desc{% endif %}"">Email</a></th>
      <th><a class="btn btn-primary" href="?sort=volunteerCount&order={% if current_sort == 'volunteerCount' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Frivillige</a></th>
      <th><a class="btn btn-primary" href="?sort=volunteerMax&order={% if current_sort == 'volunteerMax' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Max</a></th>
      <th><a class="btn btn-primary" href="?sort=managerCount&order={% if current_sort == 'managerCount' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Afviklere</a></th>
      <th><a class="btn btn-primary" href="?sort=managerMax&order={% if current_sort == 'managerMax' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Max</a></th>
      <!-- <th><a class="btn btn-primary" href="?sort=bg">Billede</a></th> -->
      <!-- <th><a class="btn btn-primary" href="?sort=short_description">Manchet</a></th> -->
      <!-- <th><a class="btn btn-primary" href="?sort=long_description">Beskrivelse</a></th> -->
      <!-- <th><a class="btn btn-primary" href="?sort=start_time">Start</a></th> -->
      <!-- <th><a class="btn btn-primary" href="?sort=end_time">Slut</a></th> -->
      <!-- <th><a class="btn btn-primary" href="?sort=published">Udgivet</a></th> -->
      <th></th>
    </thead>
    {% for area in volunteer_areas %}
      <tbody>
        <td><b>{{ area.name }}</b></td>
        <td>{{ area.mail }}</td>
        <td>{{ area.volunteerCount }}</td>
        <td>{{ area.volunteerMax }}</td>
        <td>{{ area.managerCount }}</td>
        <td>{{ area.managerMax }}</td>
        <!-- <td>{{ area.bg }}</td> -->
        <!-- <td>{{ area.short_description }}</td> -->
        <!-- <td>{{ area.long_description }}</td> -->
        <!-- <td>{{ area.start_time }}</td> -->
        <!-- <td>{{ area.end_time }}</td> -->
        <!-- <td>{{ area.published }}</td> -->
        <td>
        <a href="{% url 'hzd:area' pk=area.pk %}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
