{% extends "year/page.html" %}
{% block page_content %}
{% for year in years_with_donations %}
  {% if year.donations.all %}
    <h5 style="text-align:center">{{ year.year }}</h5>
    <p style="text-align:center">
    {% for donation in year.donations.all %}
      {{ donation.receiver }} {{ donation.amount }} kr.<br>
    {% endfor %}
    </p>
    <br>
  {% endif %}
{% endfor %}
{% endblock page_content %}
