{% extends "year/page.html" %}
{% block page_content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<style>
  #mapWrap {
    width: 100%;
    height: 350px; 
}  
</style>


<div class="row">
  <div class="col-md-12 mx-auto">
    <!-- <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=11.741327047348024%2C55.92962886602121%2C11.748011112213137%2C55.93228537568351&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=18/55.93096/11.74467">View Larger Map</a></small> -->
    <div id="mapWrap"></div>
  </div>
</div>
<hr>
<script>
// Define latitude, longitude and zoom level
const latitude =  55.9311530;
const longitude = 11.7433970;
const zoom = 8;

// Set DIV element to embed map
var mymap = L.map('mapWrap');

// Add initial marker & popup window
var mmr = L.marker([0,0]);
mmr.bindPopup('0,0');
mmr.addTo(mymap);

// Add copyright attribution
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {
    foo: 'bar',
    attribution:'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'}
).addTo(mymap);

// Set lat lng position and zoom level of map 
mmr.setLatLng(L.latLng(latitude, longitude));
mymap.setView([latitude, longitude], zoom);

// Set popup window content
mmr.setPopupContent('Nakkefestival: <br> Søndervangsvej 43, <br> 4581 Rørvig').openPopup();

// Set marker onclick event
mmr.on('click', openPopupWindow);

// Marker click event handler
function openPopupWindow(e) {
    mmr.setPopupContent('Nakkefestival: <br> Søndervangsvej 43, <br> 4581 Rørvig').openPopup();
}
</script>

{% endblock page_content %}
